@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html {
  scroll-behavior: smooth;
}

canvas{
  border: solid 4px #444444;
  border-radius: 6px;
  /* cursor:  all-scroll; */
  background-color: white;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: Montserrat;
  letter-spacing: -0.015em;
  background: #F6F6F6;
}

.canvas-section{
  margin: 6% 0 2% 0;
  min-width: 30%;
}

kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
  color: #333;
  display: inline-block;
  font-size: .85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
 }

h4{
  margin: 10px 0px;
  /* text-transform: uppercase; */
  font-weight: bold;
  line-height: 36px;
  color: #444444;
  font-size: 24px;
}

h2{
  text-align: center;
  margin-top: 40px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}

.content-text{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  /* width: 50%; */
}

.info-section{
  margin: 4% 0;
}


.container{
  padding: 40px 7%;
}

.first-section{
  display: flex;
  /* justify-content: space-between; */
}

button{
  font-size: 16px;
  padding: 6px;
  margin: 10px 0px;
}

input{
  font-size: 16px;
  padding: 6px;
  margin: 10px 0px;
}

textarea {
    margin: 20px 0px;
}

.banner-bottom{
  position: absolute;
  bottom: 0;
  padding: 10px 0px;
  text-align: center;
  color: white;
  background: #444444;
  /* border: solid 4px #444444; */
  width: 100vw;
}

.banner-top{
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 8px;
  color: red;
  border-radius: 6px;
  background: #444444;
}

.hidden{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}
/* .first-section.div{
  margin-right: 10%;
} */
